.text{
	margin-left: 0.56rem;
	height:0.88rem;
	line-height: 0.88rem;
	font-size: 0.42rem;
}
.text-box{
	height:4.17rem;
	width:10rem;
	background: #dedede;
	
}
.text-inner>p{
	text-indent:0.56rem;
	font-size: 0.42rem;
	height: 0.6rem;
	line-height: 0.6rem;
}
.worktext{
	width:2.7rem;
	height:2.69rem;
	float: left;	
}
.text-inner .innertext{
	text-indent:0;
	float: right;
	width: 7.3rem;
	height: 2.69rem;
	line-height: 0.6rem;
	padding-right: 0.56rem;

}
/*video-box*/
.video-box{
	width:10rem;
	height:2.56rem;
}
.video{
	margin:0.32rem 0 0 0.56rem;
}
.video img{
	width:1.39rem;
	height:1.39rem;
}
/*content*/
.content{
	width: 10rem;
	height:3.7rem;
	background: #fff;
}
.content>textarea{
	/*text-indent: 0.56rem;*/
	width: 10rem;
	height: 3.7rem;
	background: #fff;
	line-height: 0.6rem;
	border: none;
	padding: 0.14rem 0.52rem 0 0.56rem;
	color:#bcbcbc;
	font-size: 0.42rem;
}
/*foot*/
.foot{
	position:fixed;
	bottom:0;
	width:10rem;
	height:1.35rem;
	text-align: center;
	background: #3693fa;
}
.foot>a{
	display: block;
	height:1.35rem;
	line-height:1.35rem;
	font-size: 0.42rem
}