.top>p{
	margin-left: 2.63rem;
}
ul{
	background: #FFFFFF;
}
ul li{
	width: 9.44rem;
	height: 1.94rem;
	margin: 0 auto;
	border-bottom: 1px solid #cacaca;
	position: relative;
}
ul li:last-child{
	border-bottom: none;
}
ul li .pic{
	width: 1.39rem;
	height: 1.39rem;
	border-radius: 10%;
	background: #d8d8d8;
	position: absolute;
	top: 0.28rem;
	left: 0.09rem;
}
ul li .name{
	position: absolute;
	top: 0.37rem;
	left: 1.78rem;
	color: #000000;
	font-size: 0.4rem;
}
ul li .subject{
	position: absolute;
	color: #000000;
	top: 1.13rem;
	left: 1.78rem;
	font-size: 0.4rem;
}
#addGroup{
	width: 10rem;
	height: 1.35rem;
	background: #3693fa;
	font-size: 0.41rem;
	color: #FFFFFF;
	line-height: 1.35rem;
	text-align: center;
	position: absolute;
	bottom: 0;
}
