.dl{
	display: block;
}
.dn{
	display: none;
}
.header{
	width: 10rem;
}
.header .top{
	height: 1.2rem;
	background: #1b1a20;
}
.header .top .back{
	width: 1.2rem;
	float: left;
	margin-left: 0.31rem;	
	height: 1.2rem;
	color: #ffffff;	
	font-size: 0.39rem;
}
.header .top .back img{
	float: left;
	width: 0.28rem;
	height: 0.46rem;
	margin-top: 0.37rem;
}
.header .top .back p{
	float: left;
	line-height: 1.2rem;
	margin-left: 0.14rem;
}
.header .top > p{
	float: left;
	line-height: 1.2rem;
	margin-left: 2.58rem;
	font-size: 0.45rem;
	color: #ffffff;
}
.header .top .menu{
	width: 0.6rem;
	height: 0.15rem;
	float: right;
	margin: 0.53rem 0.33rem 0 0;
}

#areaSelection{
	width: 10rem;
	background-color: white;
}
#areaBut{
	width: 100%;
	height: 1.1rem;
}
#areaBut ul{
	width: 100%;
	height: 100%;
	border-bottom: 0.01rem solid #c4c4c4;
}
#areaBut ul li{
	float: left;
	line-height: 1.1rem;
	width: 3.3rem;	
}
#areaBut ul li:nth-child(2){
	border-left: 0.05rem solid #c4c4c4;
	border-right: 0.05rem solid #c4c4c4;
}
#areaBut ul li p{
	width: 100%;
	height: 100%;
	font-size: 0.42rem;
	text-align: center;
}
#areaBut ul li p span{
	display: inline-block;
	width: 0.43rem;
	height: 0.24rem;
	background-size: 100% 100%;
	margin-left: 0.09rem;
	background-image: url(../image/xlxz.png);
}
/*#areaBut ul li p .toBottom{
	
}*/
#areaBut ul li p .toTop{
	background-image: url(../image/xs.png);
}

#areaDetail{
	width: 10rem;	
	position: relative;
}
#firstSearch{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: white;
	border-top: 0.05rem solid #d4d4d4;
	border-bottom: 0.05rem solid #d4d4d4;
	-webkit-box-shadow: 0 -0.05rem 0.1rem #9e9e9e, 0 0.05rem 0.1rem #9e9e9e;
	-moz-box-shadow: 0 -0.05rem 0.1rem #9e9e9e, 0 0.05rem 0.1rem #9e9e9e;
	box-shadow: 0 -0.05rem 0.1rem #9e9e9e, 0 0.05rem 0.1rem #9e9e9e;	
}
#subwayAndArea{
	width: 100%;
	height: 1.16rem;
	font-size: 0.42rem;
}
#subwayAndArea ul li{
	float: left;
	height: 1.16rem;
	line-height: 1.16rem;
	text-align: center;
	box-sizing: border-box;
	color: black;
	border-bottom: 0.05rem solid #d4d4d4;
}
#subwayAndArea ul li:nth-child(1){
	width: 3.3rem;
	height: 100%;
	border-right: 0.05rem solid #d4d4d4;
}
#subwayAndArea ul li:nth-child(2){
	width: 6.7rem;
	height: 100%;
}
#subwayAndArea ul .yesClick{
	color: #0172ff;
	border-bottom: 0.1rem solid #0172ff;
}
#areaContent{
	width: 100%;
	overflow: hidden;
}
#areaContent li{
	width: 100%;
	height: 1.13rem;
	line-height: 1.13rem;
	text-align: center;
	font-size: 0.42rem;
	border-bottom: 0.05rem solid #d4d4d4;
}
#areaContent li:last-child{
	border-bottom: none;
	height: 1.2rem;
}
#areaContent .contentBySubway{
	width: 100%;
	overflow: hidden;
}
#areaContent .contentBySubway_left{
	float: left;
	width: 3.3rem;
	min-height: 3.43rem;
	max-height: 6.85rem;
	overflow: scroll;
}
#areaContent .contentBySubway_left ul{
	width: 100%;
	height: 100%;
}
#areaContent .contentBySubway_left ul .bg_c{
	background-color: #d4d4d4;
	
}
#areaContent .contentBySubway_right{
	float: left;
	width: 6.7rem;
	min-height: 3.43rem;
	max-height: 6.85rem;
	overflow: scroll;
}
#areaContent .contentBySubway_right ul{
	width: 100%;
	height: 100%;
}

#areaContent .contentByArea{
	width: 100%;
	overflow: hidden;
}
#areaContent .contentByArea_left{
	float: left;
	width: 3.3rem;
	min-height: 3.43rem;
	max-height: 6.85rem;
	overflow: scroll;
}
#areaContent .contentByArea_left ul{
	width: 100%;
	height: 100%;
}
#areaContent .contentByArea_left ul .bg_c{
	background-color: #d4d4d4;
}
#areaContent .contentByArea_right{
	float: left;
	width: 6.7rem;
	min-height: 3.43rem;
	max-height: 6.85rem;
	overflow: scroll;
}
#areaContent .contentByArea_right ul{
	width: 100%;
	height: 100%;
}

#secondSearch{
	position: absolute;
	top: 0;
	left: 3.3rem;
	width: 3.3rem;
	overflow: hidden;
	background-color: white;
	border: 0.05rem solid #d4d4d4;
	-webkit-box-shadow: 0 0 0.15rem #9e9e9e;
	-moz-box-shadow: 0 0 0.15rem #9e9e9e;
	box-shadow: 0 0 0.15rem #9e9e9e;
	display: none;
}
#secondSearch ul{
	width: 100%;
	height: 100%;
}
#secondSearch ul li{
	height: 1.1rem;
	font-size: 0.42rem;
	margin: 0 0.24rem 0 0.24rem;
	border-bottom: 0.05rem solid #d4d4d4;
	line-height: 1.1rem;
	text-align: center;
	box-sizing: border-box;
}

#thirdSearch{
	position: absolute;
	top: 0;
	left: 6.6rem;
	width: 3.4rem;
	overflow: hidden;
	background-color: white;
	border: 0.05rem solid #d4d4d4;
	-webkit-box-shadow: 0 0 0.15rem #9e9e9e;
	-moz-box-shadow: 0 0 0.15rem #9e9e9e;
	box-shadow: 0 0 0.15rem #9e9e9e;
	display: none;
}
#thirdSearch ul{
	width: 100%;
	height: 100%;
}
#thirdSearch ul li{
	height: 1.1rem;
	font-size: 0.42rem;
	margin: 0 0.24rem 0 0.24rem;
	border-bottom: 0.05rem solid #d4d4d4;
	line-height: 1.1rem;
	text-align: center;
	box-sizing: border-box;
}
